@page
@model ForeningsPortalen.Website.Pages.Members.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Opdater Medlems Oplysninger</h1>

<h4>Ret de værdier der ønskes ændret</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Member.Id" />
            <span asp-validation-for="Member.Id" type="hidden" class="text-danger"></span>
            <input type="hidden" asp-for="Member.RowVersion" />
            <span asp-validation-for="Member.RowVersion" type="hidden" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Member.FirstName" class="control-label"></label>
                <input asp-for="Member.FirstName" class="form-control" />
                <span asp-validation-for="Member.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.LastName" class="control-label"></label>
                <input asp-for="Member.LastName" class="form-control" />
                <span asp-validation-for="Member.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Phone" class="control-label"></label>
                <input asp-for="Member.Phone" class="form-control" />
                <span asp-validation-for="Member.Phone" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Member.MoveOutDate" class="control-label"></label>
                <input asp-for="Member.MoveOutDate" class="form-control" />
                <span asp-validation-for="Member.MoveOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h2 class="mb-4">Rolle</h2>
                <label asp-for="CurrentRole" class="control-label"></label>
                <input asp-for="CurrentRole" class="form-control" />
                <span asp-validation-for="CurrentRole" class="text-danger"></span>
            </div>
             <div class="form-group">
                <div class="container">
                    <label for="SelectRole">Vælg ny rolle:</label>
                    <select id="SelectRole" name="CreateMember.RoleId" class="form-control" placeholder="@Model.CurrentRole">
                        <option value="">-- Vælg Rolle --</option>
                    @foreach (var role in Model.Roles)
                    {
                        foreach (var keyValuePair in role)
                        {
                                <option value="@keyValuePair.Key">@keyValuePair.Value</option>
                        }
                    }
                    </select>
                </div>
            </div>
            <div class="form-group">
            <input type="submit" value="Gem" class="btn btn-primary" />
           </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }
