@page
@model ForeningsPortalen.Website.Pages.ChooseUnionModel

@{
    ViewData["Title"] = "Foreningsportaler";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="container">
    <div class="row">
        <p>Vælg den forening, vis portal du vil tilgå</p>
        <section>
            <form id="ChooseUnion" method="post">
                <div class="form-floating mb-2">
                    <select id="SelectUnions" name="unionId" class="form-control">
                        @if (Model.AllUnions != null)
                        {
                            @foreach (var union in Model.AllUnions)
                            {
                                <option value="@union.Id">@union.Name</option>
                            }
                        }
                    </select>
                    <button id="SetUnion" type="submit" class="w-50 btn btn-lg btn-primary d-block mx-auto mb-3">Gå til foreningsportalen</button>
                </div>
            </form>
        </section>
    </div>
</div>