@page
@model UserClaimModel

@{
    ViewData["Title"] = "Tildel Roller";
}

<h2>@ViewData["Title"]</h2>
<h/>
@* <form asp-action="AddClaimAndRole" method="post">
    <div class="form-group">
        <label asp-for="UserEmail" class="control-label"></label>
        <input asp-for="UserEmail" class="form-control" />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedRole" class="control-label"></label>
        <select asp-for="SelectedRole" class="form-control" asp-items="@(new SelectList(Model.Roles))"></select>
        <span asp-validation-for="SelectedRole" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClaimType" class="control-label"></label>
        <input asp-for="ClaimType" class="form-control" />
        <span asp-validation-for="ClaimType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClaimValue" class="control-label"></label>
        <input asp-for="ClaimValue" class="form-control" />
        <span asp-validation-for="ClaimValue" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Tilføj rolle til Medlem</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
