@page
@model ForeningsPortalen.Website.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookingIndexModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingIndexModel.CreationDate" class="control-label"></label>
                <input asp-for="BookingIndexModel.CreationDate" class="form-control" />
                <span asp-validation-for="BookingIndexModel.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingIndexModel.BookingStart" class="control-label"></label>
                <input asp-for="BookingIndexModel.BookingStart" class="form-control" />
                <span asp-validation-for="BookingIndexModel.BookingStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingIndexModel.BookingEnd" class="control-label"></label>
                <input asp-for="BookingIndexModel.BookingEnd" class="form-control" />
                <span asp-validation-for="BookingIndexModel.BookingEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingIndexModel.BookingUnits" class="control-label"></label>
                <input asp-for="BookingIndexModel.BookingUnits" class="form-control" />
                <span asp-validation-for="BookingIndexModel.BookingUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingIndexModel.UserId" class="control-label"></label>
                <input asp-for="BookingIndexModel.UserId" class="form-control" />
                <span asp-validation-for="BookingIndexModel.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
