<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForeningsPortalen.Website</title>
    <!-- Use Bootstrap 5 from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ForeningsPortalen.Website.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Foreningsportalen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="bestyrelsenDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Forenings Bestyrelsen
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="bestyrelsenDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Board/Index">Bestyrelsesmedlemmer</a></li>
                                    @* <li><a class="dropdown-item" asp-area="" asp-page="/Documents/Index">Dokumenter</a></li> *@
                                    @if (User.Claims.Any(x => x.Value == "BoardMember" || x.Value == "Administrator" || x.Value == "Chairman" || x.Value == "Tresurer"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Documents/Create">Opret Dokument</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="bookingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Booking
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="bookingDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Bookings/Create">Ny Booking</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Bookings/Index">Mine bookinger</a></li>
                                    @* <li><a class="dropdown-item" asp-area="" asp-page="/Bookings/Index">Mine bookinger</a></li> *@
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="personligDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Personlig
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="personligDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Members/Details" asp-route-email="@User.Identity.Name">Mine Oplysninger</a></li>
                                    @* <li><a class="dropdown-item" asp-area="" asp-page="/Bookings/Index">Mine Bookinger</a></li> *@
                                </ul>
                            </li>

                            @if (User.Claims.Any(x => x.Value == "Administrator"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Administrer Forening
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Unions/ChooseUnion">Login på ForeningsPortal</a></li>
                                        <li class="border-top my-3">Foreningsportaler</li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Unions/Create">Registrer Ny Forening</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Unions/Index">Foreningsoversigt</a></li>
                                        <li class="border-top my-3">Adresser</li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Addresses/Index">Adresseoversigt</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Addresses/Create">Registrer Ny Adresse</a></li>
                                        <li class="border-top my-3">Medlemmer</li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Members/Index">Medlemsoversigt</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Members/RegisterMember"> Opret nyt medlem </a></li>
                                        <li class="border-top my-3">Booking</li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="Admin/BookingCategories/Index">Oversigt over Bookingkategorier</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="Admin/BookingCategories/Create">Opret Bookingkategori</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/BookingUnits/Index">Oversigt over Bookingenheder</a></li>
                                    </ul>
                                </li>
                            }
                        }
                            <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ForeningsPortalen.Website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/css/site.css" asp-append-version="true"></script>
    @*     <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

